@tailwind base;
@tailwind components;
@tailwind utilities;
@import "react-image-crop/dist/ReactCrop.css";

/* simple base styles */
body {
  @apply bg-gray-50 text-gray-900;
}

a {
  @apply text-blue-600;
}
